{% for post in main_posts %}
<div class="col-md-12">
    <p>
    <div class="single-post-big">
        <div class="big-image">

            {% if post.photo %}
            <img src="{{ post.photo.url }}" alt="{{ post.title }}">
            {% else %}
            <img src=https://picsum.photos/id/1060/300/201?blur=2" alt="{{ post.title }}">
            {% endif %}

        </div>
        <div class="big-text">
            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
            <p>{{ post.content|safe|truncatewords_html:100 }}</p>
            <h4><span class="date">{{ post.created_at|date:"d.m.Y" }}</span><span class="author">Author: <span
                    class="author-name">{{ post.author }}</span></span>
            </h4>
        </div>
    </div>
    </p>
</div>
{% endfor %}