{% extends 'base.html' %}

{% load featured_post %}
{% load static %}

{% block title %}{{ title }} | {{ block.super }} {% endblock %}

{% block content %}

<section class="bg-text-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bg-text">
                    <h3>Классический дизайн сайта-блога</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aliquam consequat accumsan erat, sed imperdiet diam. Vivamus tempor metus vitae est ornare suscipit.
                        Maecenas eget massa nec nisi ornare suscipit. Cras eget tortor mi.
                        Etiam at faucibus augue. Cras sem sapien, fringilla ac lacinia ut, lacinia in nibh.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-post-area">
    <div class="container">
        <div class="row">
            <div class="blog-post-area-style">

                {% get_main_posts %}

                {% for post in posts %}
                <div class="col-md-3">
                    <div class="single-post">
                        {% if post.photo %}
                        <img src="{{ post.photo.url }}" alt="{{ post.title }}">
                        {% else %}
                        <img src=https://picsum.photos/id/1060/300/201?blur=2" alt="{{ post.title }}">
                        {% endif %}
                        <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                        <h4><span> Author: <span class="author-name">{{ post.author }}</span></span>
                        </h4>
                        {{ post.content|safe|truncatewords_html:50 }}
                        <h4><span>{{ post.created_at|date:" d.m.Y" }}</span></h4>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="pegination">

        <div class="nav-links">
            <span class="page-numbers current">1</span>
            <a class="page-numbers" href="#">2</a>
            <a class="page-numbers" href="#">3</a>
            <a class="page-numbers" href="#">4</a>
            <a class="page-numbers" href="#">5</a>
            <a class="page-numbers" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
    </div>
</section>

{% endblock %}