{% load menu %}

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="logo">
                    <h2><a href="{% url 'home' %}">Сайт-Блог</a></h2>
                </div>
            </div>
            <div class="col-md-10">

                {% show_menu request=request %}

            </div>
            <div class="menu">
                <ul>
                    {% if request.user.is_authenticated %}
                    <li>Добро пожаловать, {{ user.username }} | <a href="{% url 'logout' %}">Выход</a></li>
                    {% else %}
                    <li><a href="{% url 'reg' %}">Регистрация</a></li>
                    <li><a href="{% url 'login' %}">Войти</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>
</header>